
<div class="container-fluid page-container-two">
  <div class="row">
    <div class="col-12 col-lg-5 lecture-content">
      <h2 style="font-weight: bold;">Topic: The difference between an asset and a liability</h2>
      <h4>Content of this conversation:</h4>
      <ol>
        <li>What is an asset?</li>
        <li>What is a liability?</li>
        <li>Cash flow</li>
      </ol>
      <h4>Mentors Roberto learned from:</h4>
      <ol>
        <li>Robert Kiyosaki</li>
      </ol>
      <p style="text-decoration: underline; font-weight: bold;">Click at the chat button on the bottom-right corner to get started with the conversation.</p>
    </div>

    <div class="col-12 col-lg-3 page-container">
      <div class="chat-person-name"><h2>This is Roberto</h2></div>
      <div class="chat-person chat-person-roberto"></div>
    </div>

    <div class="col-12 col-lg-4 chat-container">
      <h3>Click at the chat button on the bottom-right corner to get started with the conversation.</h3>
    </div>
  </div>
</div>

<script>
  window.watsonAssistantChatOptions = {
      integrationID: "e8c46e32-1b59-4b3a-b5e5-ec4b0d6d6ad9", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "2abd0b50-1986-4077-a2f7-cff06a482aec", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>
