
<div class="container-fluid page-container-two">
  <div class="row">
    <div class="col-12 col-lg-5 lecture-content">
      <h2 style="font-weight: bold;">Topic: Diversification of Portfolios</h2>
      <h4>Content of this conversation:</h4>
      <ol>
        <li>What is diversification?</li>
        <li>How to diversify</li>
      </ol>
      <h4>Mentors Howarda learned from:</h4>
      <ol>
        <li>Warren Buffet</li>
        <li>Tony Robbins</li>
      </ol>
      <p style="text-decoration: underline; font-weight: bold;">Click at the chat button on the bottom-right corner to get started with the conversation.</p>
    </div>

    <div class="col-12 col-lg-3 page-container">
      <div class="chat-person-name"><h2>This is Howarda</h2></div>
      <div class="chat-person chat-person-howarda"></div>
    </div>

    <div class="col-12 col-lg-4 chat-container">
      <h3>Click at the chat button on the bottom-right corner to get started with the conversation.</h3>
    </div>
  </div>
</div>

<script>
  window.watsonAssistantChatOptions = {
      integrationID: "fe6eb78b-df9a-41fc-bc4e-64a66e901cee", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "2abd0b50-1986-4077-a2f7-cff06a482aec", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>
