
<div class="container-fluid page-container-two">
  <div class="row">
    <div class="col-12 col-lg-5 lecture-content">
      <h2 style="font-weight: bold;">Topic: Increase your investment capital</h2>
      <h4>Content of this conversation:</h4>
      <ol>
        <li>Start earning more</li>
        <li>Start saving more</li>
        <li>Start spending less</li>
        <li>Beware of the fees you are paying</li>
      </ol>
      <h4>Mentors Antonio learned from:</h4>
      <ol>
        <li>Tony Robbins</li>
        <li>George Samuel Clas</li>
        <li>Warren Buffett</li>
        <li>Benjamin Graham</li>
      </ol>
      <p style="text-decoration: underline; font-weight: bold;">Click at the chat button on the bottom-right corner to get started with the conversation.</p>
    </div>

    <div class="col-12 col-lg-3 page-container">
      <div class="chat-person-name"><h2>This is Antonio</h2></div>
      <div class="chat-person"></div>
    </div>

    <div class="col-12 col-lg-4 chat-container">
      <h3>Click at the chat button on the bottom-right corner to get started with the conversation.</h3>
    </div>
  </div>
</div>



<script>
  window.watsonAssistantChatOptions = {
      integrationID: "ffb4d7ad-f2e1-4941-8c95-1fc794d0229f", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "2abd0b50-1986-4077-a2f7-cff06a482aec", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
      document.head.appendChild(t);
    });
  </script>
